@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.fonts {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-Brand: #131313;
    --color-White: #ffffff;
    --color-Black: #000000;
    --color-Brand2:#E7FE29;
}
